# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../:\Users\Koenie\Documents\Sambamba\Cobolopolis\POPULOUS\ENVIRONMENT_DIVISION\EXTRAS_SECTION\CRYPTO\source-repos\python-mingus\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
